:root{
    --mainColor: #8CDD81;
    --secondaryColor: #699864;
 
    --borderColor: #5F755E;
 
    --mainText:#fff;
    --secondaryText: #eeeeee;
 
    --themeDotColor: #FFF;
 
    --previewBg:#52754e;
    --previewShadow: #275539;
 
 
    --buttonColor: #4AC948;
 
 } 
 